#header{
    height: 11%;
    min-height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid 1px gray;
}
    #profile{
        height: 60%;
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr 1fr;
    }
        #nick{
            grid-column: 2/3;
            grid-row: 1/2;
            font-size: 120%;
            align-content:  center;
        }
        #followers{
            display: block;
            grid-column: 2/3;
            grid-row: 2/3;
            font-size: 120%;
            color: gray;
            align-content: start;
        }
        #profile_picture{
            grid-column: 1/2;
            grid-row: 1/4;
            height: 80px;
            width: 80px;
            align-self: center;
            border-radius: 5px;
        }